<div class="top-body">
    <header>
        <h1 class="title">Sanpocket</h1>
    </header>
    <article>
        <div class="center">
            <p>Let's Walk!</p>
        </div>
    <div class="buttons">
    <!-- --- Sing inボタン --- -->
    <%= link_to ("/login") do %>
    <div class="button003 margin">
        <input type="submit" value="Sign In"/>
    </div>
    <% end %>
    <!---- Sing upボタン ----->
    <%= link_to ("/signup") do %>
    <div class="button003 margin">
        <input type="submit" value="Sign Up"/>
    </div>
    <% end %>
    </div>
    </article>
</div>