<%= form_tag("/loginnow") do %>
  <p>Email</p>
  <input type="text" name="email" value="<%= @email %>">
  <p>パスワード</p>
  <input type="password" name="password" value="<%= @password %>">
  <input type="submit" value="ログイン">
<% end %>
